.nav-bg {
  
  background-color: #262626;
  height: 54px;
  width: 100%;
  
 
}

.main-img {
 margin-left: -5px;
  width: 170px;
  height: 35px;
  
  padding-bottom: 10px;
}


.btn-color {
      background-color: #82B440;
      border: none;
      color: white;
      font-size: 14px;
      padding: 5px 20px;
      line-height: 1.5;
      text-align: center;
      opacity: 1;
      transition: 0.1s;
      border-radius: 4px;
      margin-right: 10px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: none;
      margin-bottom: 5px;
}
.btn-color:hover {opacity: 0.9}


