@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Manrope:wght@800&display=swap');



.main-div2 {
padding-right: 5rem !important;
    padding-left: 5rem !important;
    /* padding-top: 5px;
    padding-bottom: 5px; */
   
}

.img-logo {
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.silicon {
    font-size: 24px;
    font-weight: 800;
    align-items: center;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    padding-top: 10px;
    margin-left: 3px;
    margin-right: 1rem;
    cursor: pointer;
}

.silicon:hover {
    color: rgb(96, 114, 195);
}

.dropdown-item:hover {
    color: #6366f1 !important;
    text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}


.dropdown:hover>.dropdown-menu {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    height:auto;
    width: 600px;

  }

  .dropdown:hover>.ddm1 {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    height:auto;
    width: 180px !important;

  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
.nav-hover {
    cursor: pointer;
}
.nav-li {
    font-size: 15px;
    font-weight: 600;
    color: #60637b !important;
    font-family: 'Manrope', sans-serif;
    padding: 0.535rem 1rem;

}

.nav-li:hover {
    color: #6366f1 !important;
    text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
  }
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item{
    padding: 10px;
    padding-left: 2px;
    color: #676b92;
    font-size: small;
    font-weight: 600;
    text-align: start;
  }

  .item-d {
    padding: 7px;
    padding-left: 10px;
    color: #676b92;
    font-size: small;
    font-weight: 600;
    text-align: start;
  }
 
  #dropdownimg1{
    height:350px;
    width:250px;
    padding:2px !important;
  }

 .ddm1 {
    width: 400px;
 }

 .imp-h{
    text-align: start;
 }
 
 .t-label{
  font-weight: 600;
  padding: 10px;
  color: #676b92;
 }


 .form1{
  height: 25px;
  width:45px !important;
  
 }

 .cart-btn {
  border: none;
  background-color: #4043f3;
  color: #f9f9f9;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  margin-left: 10px;
  font-weight: 600;
  margin-right: 20px;
  opacity: 0.8;
 }

 .cart-logo {
  padding-right: 5px;
  font-weight: 400;
 }

 .mynew {
   margin-left: 6px;
   padding-bottom: 2px;
 }

 .cart-btn:hover {
   opacity: 1;
   transition: 0.3s;
 }

 .toggle-switch {
  position: relative;
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
}

.toggle-switch label {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  background-color: #6366f1;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px #6366f1;

}

.toggle-switch input {
  position: absolute;
  top: -12px;
  display: none;
}

.toggle-switch input:checked~.slider::before {
  left: 60%;
  background-color: #6366f1;
  box-shadow: inset -8px 0px 0px 0px white;
  border: #6366f1;
}

.toggle {
  margin-left: 25rem;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6366f1;
  border-radius: 30px;
  transition: all 0.3s;
}

.slider::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;

}

