:root {
    --white: #fff;
    --black: #111;
    --grey: #888;
    --darkgrey: #1b1b1b;
    
  }
  
  [data-theme="light"] {
    --white: #ffffff;
    --black: #111;
    --grey: #888;
    --darkgrey: #1b1b1b;
  }
  
  [data-theme="dark"] {
    --white: #111;
    --black: #fff;
    --grey: #888;
    --darkgrey: #f3f3f3;
  }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::selection {
    color: black;
    background-color: rgb(207, 209, 241);
  }


  